<div class="nav-scroller py-1 mb-3 border-bottom">
	<nav class="nav nav-underline justify-content-between">
{% for category in categories %}
					<a class="nav-item nav-link link-body-emphasis active" href="#">{{category.name}}</a>
{% endfor %}
	</nav>
</div>