{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    					<article class="blog-post">
						<h2 class="display-5 link-body-emphasis mb-1">{{ post.title }}</h2>
						<p class="blog-post-meta">{{ post.publishedAt ? post.publishedAt|date('Y-m-d') : '' }}
							<a href="#">{{ post.author }}</a>
						</p>
						<p>{{ post.content }}</p>
					</article>
{% endblock %}
